
.rows{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-content: space-around;
}

.imgDescr {
    position: absolute;
    top: 40%;
    cursor: default;
    text-align: center;
    font-size: 30pt;
    display: none;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}


#beachImg {
  height:300px;
  width: 310px;
  padding-top: 20px;
}

.beachContainer {
  position: relative;
  height: 320px;
  width: 310px;
}

.beachContainer:hover .imgDescr{
  display: block;
}

.beachContainer:hover .about_image{
  opacity:0.4;
}

#tiramisuImg {
  height: 300px;
  width: 500px;
  padding-top: 20px;
}
.tiramisuContainer {
  position: relative;
  height: 320px;
  width: 500px;
}

.tiramisuContainer:hover .imgDescr{
  display: block;
}

.tiramisuContainer:hover .about_image{
  opacity: 0.4;
}

#peonyImg {
  height: 300px;
  width: 480px;
  padding-top: 20px;
}

.peonyContainer {
  position: relative;
  height: 320px;
  width: 480px;
}

.peonyContainer:hover .imgDescr{
  display: block;
}

.peonyContainer:hover .about_image{
  opacity: 0.4;
}

#runImg {
  height:250px;
  width: 410px;
  padding-top: 20px;
}

.runContainer {
  position: relative;
  height: 310;
  width: 450;
}

.runContainer:hover .imgDescr{
  display: block;
}

.runContainer:hover .about_image{
  opacity:0.4;
}

#moldovaImg {
  height:280px;
  width: 460px;
  padding-top: 20px;
}

.moldovaContainer {
  position: relative;
  height: 320;
  width: 480;
}

.moldovaContainer:hover .imgDescr{
  display: block;
}

.moldovaContainer:hover .about_image{
  opacity:0.4;
}

#planeImg {
  height:280px;
  width: 460px;
  padding-top: 20px;
}

.planeContainer {
  position: relative;
  height: 320;
  width: 480;
}

.planeContainer:hover .imgDescr{
  display: block;
}

.planeContainer:hover .about_image{
  opacity:0.4;
}
